version: 2.1

commands:
  test-brew:
    steps:
      - checkout
      - run:
          name: Check brew
          command: which brew
      - run: 
          name: Brew version
          command: brew -v
      # - run: 
      #     name: Install packer packages
      #     command: brew tap hashicorp/tap && brew install hashicorp/tap/packer
      # - run:
      #     name: Install homebrew packages
      #     command: brew install tldr tree
      # - run:
      #     name: Brew update
      #     command: brew update -v
      - run:
          name: Version Check
          command: sw_vers
      - run:
          name: Check IP
          command: ifconfig | grep 'inet '
      - run: 
          name: Xcode Version
          command: xcodebuild -version
      - run:
          name: VMware Tools CLI
          command: /Library/Application\ Support/VMware\ Tools/vmware-tools-cli -v
  test-sudo:
    steps:
      - run:
          name: Check sudoers
          command: sudo cat /private/etc/sudoers
      - run:
          name: Fix sudoers
          command: sudo sed -i -e 's/^%admin.*/%admin ALL=\(ALL\) NOPASSWD:ALL/g' /etc/sudoers
      - run:
          name: Check sudoers
          command: sudo cat /private/etc/sudoers
      - run: 
          name: sudo Test
          command: sudo -v
      # - run:
      #     name: Certificate download
      #     command: curl https://www.apple.com/certificateauthority/AppleWWDRCAG3.cer -o AppleWWDRCAG3.cer
      # - run:
      #     name: Add to keychain
      #     command: sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain AppleWWDRCAG3.cer
  test-xcode-build:
    steps: # a series of commands to run
      - checkout
      - run:
          # run our tests using xcode's cli tool `xcodebuild`
          name: Run Unit Tests
          command: xcodebuild test -scheme circleci-demo-macos
      - run:
          # build our application
          name: Build Application
          command: xcodebuild
      - run:
          name: Compress app for storage
          command: zip -r app.zip build/Release/circleci-demo-macos.app
      - run:
          name: Version Check
          command: sw_vers
      - run:
          name: Check IP
          command: ifconfig | grep 'inet '
      - run: 
          name: Xcode Version
          command: xcodebuild -version
      - store_artifacts:
          path: app.zip
          destination: app
jobs:
  preview-tester-12-5-m:
    macos:
      xcode: "12.5.0"
    resource_class: m2.medium
    steps: 
      - test-brew
      - test-xcode-build
      - test-sudo
  preview-tester-12-5-m2:
    macos:
      xcode: "12.5.0"
    resource_class: m2.medium
    steps: 
      - test-brew
      - test-xcode-build
      - test-sudo
  preview-tester-12-5-m3:
    macos:
      xcode: "12.5.0"
    resource_class: m2.medium
    steps: 
      - test-brew
      - test-xcode-build
      - test-sudo
  preview-tester-12-5-m4:
    macos:
      xcode: "12.5.0"
    resource_class: m2.medium
    steps: 
      - test-brew
      - test-xcode-build
      - test-sudo
  preview-tester-12-5-l:
    macos:
      xcode: "12.5.0"
    resource_class: m2.large
    steps: 
      - test-brew
      - test-xcode-build
      - test-sudo
  brew-12-2:
    macos:
      xcode: "12.2.0"
    resource_class: medium
    steps:
      - test-brew
      - test-xcode-build
  brew-12-0-1:
    macos:
      xcode: "12.0.1" # Should be aliased to 12.0.1
    # xcode: "0.0.393" # Should be aliased to 12.0.1
    resource_class: medium
    steps:
      - test-brew
      - test-xcode-build
  brew-12-0-0:
    macos:
      xcode: "12.0.0" # Should be aliased to 12.0.1
    resource_class: medium
    steps:
      - test-brew
      - test-xcode-build
  brew-12-1-1:
    macos:
      xcode: "12.1.0" # Should be aliased to 12.1.1
    resource_class: medium
    steps:
      - test-brew
      - test-xcode-build

workflows:
  test-images:
    jobs:
      - preview-tester-12-5-m
      - preview-tester-12-5-m2
      - preview-tester-12-5-m3
      - preview-tester-12-5-m4
      - preview-tester-12-5-l
      # - brew-12-2
      - brew-12-0-0
      - brew-12-0-1
      # - brew-12-1-1